.menuButton{
	-fx-font-size: 50pt;
    -fx-font-family: "Courier New";
    -fx-background-color: #0000ff;
	-fx-text-fill: #ffff00;
    -fx-padding: 3 6 6 6;
    -fx-border: none;
	-fx-background-radius: 20px;
}

.menuButton:focused {
    -fx-border-style: solid;
    -fx-border-color: #ffff00;
	-fx-border-width: 5px;
	-fx-border-radius: 15px;
}
