.menu {
	-fx-background-color: purple;
}

.menuButton{
	-fx-font-size: 50pt;
    -fx-background-color: #0000ff;
	-fx-text-fill: #ffff00;
    -fx-padding: 3 6 6 6;
    -fx-border: none;
	-fx-background-radius: 20px;
}

.menuButton:focused {
    -fx-border-style: solid;
    -fx-border-color: #ffff00;
	-fx-border-width: 5px;
	-fx-border-radius: 15px;
}

.menuButton:pressed {
	-fx-background-color: #aaaaff;
}

.title {
	-fx-font-size: 72pt;
	-fx-fill: #ffff00;
}

.spinner {
	fx-border-syle: none;
}

.spinner:hover {
	-fx-border-style: solid;
	-fx-border-color: yellow;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
	-fx-body-color: #ffff00;
}

.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
	-fx-body-color: #cccc00;
}

.spinner .text-field {
	-fx-opacity: 1.0;
	-fx-background-color: blue;
	-fx-text-fill: yellow;
	-fx-font-size: 14pt;
	-fx-font-weight: bold;
}

.ip_field {
	-fx-opacity: 1.0;
	-fx-background-color: blue;
	-fx-text-fill: yellow;
	-fx-font-size: 14pt;
	-fx-font-weight: bold;
	-fx-background-radius: 20px;
}

.ip_field:focused {
	-fx-border-style: solid;
    -fx-border-color: #ffff00;
	-fx-border-width: 5px;
	-fx-border-radius: 15px;
}

.check-box {
	-fx-text-fill: yellow;
	-fx-font-size: 14pt;
	-fx-font-weight: bold;
}

.check-box .box {
	-fx-body-color: blue;
}

.check-box:selected .box {
	-fx-body-color: yellow;
}